.container
  .card
    .heading
      = current_user.account
    .user_info
      .avatar
        = image_tag current_user.avatar_img, id: 'avatar-preview'
        = form_with url: '#', html: { id: "avatar-form", enctype: "multipart/form-data" }, local: true do
          = file_field_tag :avatar, id: "avatar-input", accept: "image/png,image/jpeg"
      .achievement
        .block
          .count
            44
          .section
            Posts
        .block
          .count
            110
          .section
            Followers
        .block
          .count
            44
          .section
            Following
    .user_posts
