.container
  .heading
    = current_user.account
  .user_info
    .avatar
      .img
        = image_tag current_user.avatar_img
    .achievement
      .posts
        .count
          44
        .section
          Posts
      .followers
        .count
          110
        .section
          Followers
      .following
        .count
          44
        .section
          Following
  .user_posts