@use 'variables';

$image_size: variables.$avatar-sm;

.comments-container {
  .post-comment {
    display: flex;
    margin: 40px 0;

    .comment-img {
      margin: 5px 20px;

      img {
        width: $image_size;
        height: $image_size;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .comment-text {
      &-user {
        color: variables.$gray-deep;
        font-size: variables.$font-lg;
        margin-bottom: 5px;
      }

      &-body {
        color: variables.$gray-dark;
      }
    }
  }
}
